* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* This part is for the changing backrounds on the website*/

body {
  background-image: url(/afbeeldingen/yun-xi-zheng-bluecloudmountain.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1302px;
  transition: 5s;

  animation-timing-function: ease-in-out;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-duration: 60s;
  animation-direction: alternate-reverse;
  animation-name: animate;
}

@keyframes animate {
  0% {
    background-image: url(/afbeeldingen/Leon.jpg);
  }
  20% {
    background-image: url(/afbeeldingen/backroundimage.jpg);
  }
  40% {
    background-image: url(/afbeeldingen/yun-xi-zheng-bluecloudmountain.jpg);
  }
  60% {
    background-image: url(/afbeeldingen/backroundimage.jpg);
  }
  80% {
    background-image: url(/afbeeldingen/Leon.jpg);
  }
  100% {
    background-image: url(/afbeeldingen/backroundimage.jpg);
  }
}

.header {
  width: auto;
  height: 125px;
  background-color: grey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-position: center;
  background-image: url(/afbeeldingen/blue-low-poly-pattern-wallpaper-preview.jpg);
}

.button {
  border-radius: 4px;
  background-color: #280774;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button2 {
  padding: 20px 70px;
  border: 3px solid black;
  background-color: darkgray;
  font-size: 20px;
}

.button2:hover {
  background-color: rgba(0, 0, 180, 0.582);
  cursor: pointer;
}

.button3 {
  padding: 20px 70px;
  border: 3px solid black;
  background-color: darkgray;
  font-size: 20px;
}

.button3:hover {
  background-color: rgba(0, 0, 180, 0.582);
  cursor: pointer;
}

.header1 {
  width: auto;
  height: 15px;
  background-color: rgb(14, 5, 51);
  opacity: 0.5;
}

.container {
  width: 60%;
  height: 800px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  color: rgba(5, 5, 37, 0.993);
  padding: 70px;
  background: rgba(71, 73, 71, 0.39);
  border: 2px solid rgb(14, 5, 51);
  border-radius: 50px;
  box-shadow: 5px 5px;
}

.block {
  width: 870px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.dropbtn {
  border-radius: 4px;
  background-color: #280774;
  border: none;
  color: #cfc9ee;
  text-align: center;
  font-size: 17px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #664f9c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #28077475;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e718e;
}

.hallo {
  width: 500px;
  height: 500px;
  background-color: rgb(16, 216, 116);
}
